<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>
<div layout:fragment="content">
    <div style="text-align:center">
        <h2>Login</h2>
        <div id="wrapper-form">
            <form action="/user/login" th:object="${userLoginDto}" method="post" >
                <div class="form">
                    <label class="label" for="userId">ID</label>
                    <input type="text" id="userId" th:field="*{userId}" placeholder="아이디를 입력하세요" required />
                </div>
                <div class="form">
                    <label class="label" for="userPwd">Pwd</label>
                    <input type="password" id="userPwd" th:field="*{userPwd}"  placeholder="비밀번호를 입력하세요" required />
                </div>
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
                </div>
                <div class="form d-grid gap-2">
                    <button class="btn btn-primary" type="submit">로그인</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>