<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>자유 게시판</title>
</head>
<body>
<div layout:fragment="content">
    <div style="width: 1000px;">
            <form th:action="@{/board/boardList/{boardId}/edit (boardId=${updateDto.boardId})}" th:object="${updateDto}" method="post">
                <!-- 제목 -->
                <div class="input-group mb-3">
                    <span class="input-group-text">제목</span>
                    <input type="text" class="form-control" id="title" th:field="*{boardTitle}" th:value="${updateDto.boardTitle}" required/>
                </div>
                <!-- 본문 -->
                <div class="input-group mb-3">
                    <textarea class="form-control custom-textarea" th:field="*{boardContent}" maxlength="3000" required></textarea>
                </div>
                <!-- 작성자 -->
                <div class="input-group mb-3">
                    <span class="input-group-text">작성자</span>

                    <span class="input-group-text board-writer">[[${updateDto.boardAuthorId}]]</span>
                </div>
                <!-- 뒤로가기 버튼, 발행하기 버튼 -->
                <div class="btn-group">
                    <button  type="submit" class="btn btn-success">수정완료</button>
                </div>
            </form>
                <div class="btn-group">
                    <form th:action="@{/board/boardList/{boardId}/delete (boardId=${updateDto.boardId})}" method="post">
                        <button  type="submit" class="btn btn-danger">삭제하기</button>
                    </form>
                </div>


    </div>
</div>
</body>
</html>