<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crudBoard.board.repository.BoardRepository">
    <insert id="boardPost" parameterType="com.crudBoard.board.domain.Board">
        insert into board (boardId, boardTitle, boardAuthorId, boardContent, boardCreateDate, boardUpdateDate, boardLikeCount, boardDel, boardView)
        values (#{boardId}, #{boardTitle}, #{boardAuthorId}, #{boardContent}, #{boardCreateDate}, #{boardUpdateDate}, #{boardLikeCount}, #{boardDel}, #{boardView})
    </insert>

    <select id="boardList" resultType="com.crudBoard.board.domain.Board">
        select * from board;
    </select>

    <select id="pagingBoard" resultType="com.crudBoard.board.domain.Board">
        select * from board order by boardCreateDate desc limit 10 offset #{offset};
    </select>

    <select id="countBoard" resultType="int">
        select count(*) from board;
    </select>
</mapper>
