<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
    <div style="height:65px; margin-bottom:10px; padding-top:5px;" th:fragment="HeaderFragment">
        <div style="float:left; width:110px; text-align:center">
            Subhin board
        </div>
        <div>
            <div style="float:left; width:45%">
                <a href="/">메인</a>
                <a href="/board/list">자유게시판</a>
            </div>
            <div style="float:right; width:40%; text-align:right; padding-right:5px;">
                <th:block th:if="${session.user} == null">
                    <a class="btn btn-primary" href="/user/login" role="button">로그인</a>
                    <a class="btn btn-primary" href="/user/join" role="button">계정 생성</a>
                </th:block>
                <th:block th:unless="${session.user} == null">
                    <span th:text="${session.user.userNickname}">님이 접속했습니다.</span> |
                    <a href="/user/logout">로그아웃</a> |
                    <a href="/user/userDetail">마이 페이지</a> |
                </th:block>
            </div>
        </div>
    </div>
</html>



