.board-container {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: end;
}

.board-writer {
    width: 93.3%;
    display: inline-block;
    text-align:right;
}

input[readonly] {
    background-color:white !important;
    color: black;
}

textarea[readonly] {
    background-color:white !important;
    color: black;
}

.custom-textarea {
    width: 100%;
    height: 33em;
    resize: none;
}

.writer {
    text-align: end;
    font-weight: 600;

}

